Flask==0.10.1

# Application server for both dev and production
gunicorn==19.4.5

# Extensions.
flask-debugtoolbar==0.10.0
Flask-Mail==0.9.1

# Data and workers.
Flask-SQLAlchemy==2.1
redis==2.10.5
celery==3.1.23

# Forms.
Flask-WTF==0.9.5
WTForms-Components==0.9.7
