{% extends 'layouts/base.html' %}

{% block title %}Items Page{% endblock %}

<!-- {% block header %}App Home Page{% endblock %} -->

{% block heading %}
   
    <!-- <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(document).ready(function(){
                
            $.ajax({ url: "/get_item/<int:id>",
            // $.ajax({ url: "/get_item/",
                context: document.body,
                success: function(data){
                    $("#show_item").html(data)
                    console.log(data)
                }});
            });
        </script>
    </head> -->
    
{% endblock %}

{% block body %}
<div class='container'>
    <h3>Items directly from db...</h3>
    {% for item in items: %}
        <h5 id='show_item'>{{ item[1] }}</h5>
    {% endfor %}
    <h3>Items from get_item pages...</h3>
</div>
{% endblock %}

{% block footer %}
    <li><a href="{{ url_for('page.terms') }}">Terms of Service</a></li>
    <li><a href="{{ url_for('contact.index') }}">Contact</a></li>
{% endblock %}
