
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.header {
  background-image: url(./images/create_crop_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  opacity: 0.8;
}

body {
  background-color: #eeeeee;
}

.img-responsive {
  border-radius: 5px;
}

.container-contact {
  background-color: #dddddd;
  opacity: 0.8;
}

#contact {
  font-size: 21px;
  font-weight: 300;
  padding-top: 10px;
}

#submit {
  background-color: #aaaaaa;
  border-color: black;
}

#submit:hover {
  background-color: white;
}

.lower-image {
  background-image: url(./images/create_crop_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: #dddddd;
  padding: 25px;
  opacity: 0.8;
}